$base-color: #fff;



@font-face {
  font-family: "yofont";
  src: url('/images/fonts/iconfont.eot');
  src: url('/images/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('/images/fonts/iconfont.woff') format('woff'),
  url('/images/fonts/iconfont.ttf') format('truetype'),
  url('/images/fonts/iconfont.svg#iconfont') format('svg');
}

#app{
	height:100%;
}